{sub_dirs, ["apps/etoma_sock", "apps/etoma", "rel"]}.

{erl_opts, []}.

{deps, [
        {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
        {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "master"}},
        {jiffy, ".*", {git, "https://github.com/davisp/jiffy", "master"}}
]}.
